@keyframes kiss {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.2);
    opacity: 0.7;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.kiss-animation {
  animation: kiss 0.6s ease-out;
}

.kiss-animation-img {
  animation: kiss 0.6s ease-out;
}

@keyframes heart {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.5);
    opacity: 0.7;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.animate-heart {
  animation: heart 0.8s ease-out forwards;
}

.markdown-message ul {
  list-style-type: disc !important;
  padding-left: 1.5em;
}

.markdown-message ol {
  list-style-type: decimal !important;
  padding-left: 1.5em;
}

.markdown-message p {
  margin-bottom: 0.5em;
}